body {
  background-color: #DED5EF;
}

hr{
  background-color: #DED5EF;

  border-style: none;
  border-top-style: dotted;
  border-color:white;
  border-width: 5px;
  height: 2px;
  width: 30%;
}
